<!doctype html>
<html class="no-js" lang="en" ng-app='FantasticBoxCo'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FantasticBoxCo</title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="author" content="@alliants">
  <link rel="stylesheet" media="all" href="/css/application.css">
  <link type="text/css" rel="stylesheet" href="bower_components/angular-flash-alert/dist/angular-flash.min.css">
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body ng-controller="FantasticBoxCoProductController as productCtrl">

  <header>
    <h1 class="logo">FantasticBoxCo</h1>
  </header>

  <main>
    <div class="container">
      <aside>
        <ul class="progress">
          <li>
            <a href="#step-1" class="step step-1" ng-class="{'is-active':productCtrl.tab===1}">
              <div class="step-number">1</div>
              <h3 class="step-heading">Dimensions &amp; Quantity</h3>
              <dl>
                <dt>Width:</dt>
                <dd>{{productCtrl.order.width | number:2}}m</dd>
                <dt>Height:</dt>
                <dd>{{productCtrl.order.height | number:2}}m</dd>
                <dt>Length:</dt>
                <dd>{{productCtrl.order.length | number:2}}m</dd>
                <dt>Quantity:</dt>
                <dd>{{productCtrl.order.quantity}}</dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#step-2" class="step step-2" ng-class="{'is-active':productCtrl.tab===2}">
              <div class="step-number">2</div>
              <h3 class="step-heading">Cardboard Grade</h3>
              <span class="step-value">{{productCtrl.order.cardboardGrade}}</span>
            </a>
          </li>
          <li>
            <a href="#step-3" class="step step-3" ng-class="{'is-active':productCtrl.tab===3}">
              <div class="step-number">3</div>
              <h3 class="step-heading">Print Quality</h3>
              <span class="step-value">{{productCtrl.order.printQuality}}</span>
            </a>
          </li>
          <li>
            <a href="#step-4" class="step step-4" ng-class="{'is-active':productCtrl.tab===4}">
              <div class="step-number">4</div>
              <h3 class="step-heading">Optional Extras</h3>
              <span class="step-value" ng-repeat="item in productCtrl.order.extras">{{item}}<br></span>
            </a>
          </li>
          <li>
            <a href="#total-cost" class="step step-total-cost" ng-class="{'is-active':productCtrl.tab===5}">
              <h3 class="step-total-cost-heading">Total Cost</h3>
              <div class="step-total-cost-value">{{productCtrl.order.calculateTotal() | currency:"£":2}}</div>
            </a>
          </li>
        </ul>
      </aside>

      <section>
        <div id="step-1" class="content-step" ng-hide="productCtrl.tab!=1">
          <h2>Step 1 - Dimensions &amp; Quantity</h2>

          <p class="intro">
            Enter the width, height, length and quantity of the box(es) you require.
          </p>

          <form name="step1Form">
            <div class="form-row">
              <label for="width">Width:</label>
              <input type="number" name="width" id="width" value="0" min="0.01" step="0.01" ng-model="productCtrl.order.width" required />
            </div>

            <div class="form-row">
              <label for="height">Height:</label>
              <input type="number" name="height" id="height" value="0" min="0.01" step="0.01" ng-model="productCtrl.order.height" required />
            </div>

            <div class="form-row">
              <label for="length">Length:</label>
              <input type="number" name="length" id="length" value="0" min="0.01" step="0.01" ng-model="productCtrl.order.length" required />
            </div>

            <div class="form-row">
              <label for="quantity">Quantity:</label>
              <input type="number" name="quantity" id="quantity" value="0" min="1" step="1" ng-model="productCtrl.order.quantity" required />
            </div>

            <div class="form-actions">
              <button type="button" class="btn btn-primary btn-next" ng-click="productCtrl.tab=2 ; productCtrl.order.validateNewSize()" ng-disabled="step1Form.$invalid">
                Next
              </button>
            </div>
          </form>
        </div>


        <div id="step-2" class="content-step" ng-hide="productCtrl.tab!=2">
          <h2>Step 2 - Cardboard Grade</h2>

          <p class="intro">
            <strong>FantasticBoxCo</strong> offer a variety of grades of cardboard, each altering the price per m<sup>2</sup>:
​          </p>
          
          <form name="step2Form">
            <ol class="btn-radios-list">
              <li>
                <label>
                  <input type="radio" name="cardboardSelectorA" value="A" ng-model="productCtrl.order.cardboardGrade" ng-click="productCtrl.order.dismissFlashMsg()" />
                  <span class="btn btn-radio">
                    A Grade<br>&pound;0.20 m<sup>2</sup>
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="cardboardSelectorB" value="B" ng-model="productCtrl.order.cardboardGrade" ng-click="productCtrl.order.dismissFlashMsg()" />
                  <span class="btn btn-radio">
                    B Grade<br>&pound;0.10 m<sup>2</sup>
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="cardboardSelectorC" ng-click="productCtrl.order.validateCardboardGradeC()" />
                  <span class="btn btn-radio">
                    C Grade<br>&pound;0.05 m<sup>2</sup>
                  </span>
                </label>
              </li>
            </ol>
          </form>

          <div class="form-actions">
            <button type="button" class="btn btn-back" ng-click="productCtrl.tab=1">
              back
            </button>
            <button type="button" class="btn btn-primary btn-next" ng-disabled="step2Form.$pristine" ng-click="productCtrl.order.cardboardCost() ; productCtrl.tab=3">
              Next
            </button>
            <flash-message show-close="true"></flash-message> 
          </div>
        </div>


        <div id="step-3" class="content-step" ng-hide="productCtrl.tab!=3">
          <h2>Step 3 - Print Quality</h2>

          <p class="intro">
            A variety of printing options are available for any branding / logos which are required:
          </p>

          <form name="step3Form">
            <ol class="btn-radios-list">
              <li>
                <label>
                  <input type="radio" name="print-quality" value="3-color" ng-model="productCtrl.order.printQuality" />
                  <span class="btn btn-radio">
                    3 colours<br>&pound;0.20 m<sup>2</sup>
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="print-quality" value="2-color" ng-model="productCtrl.order.printQuality" />
                  <span class="btn btn-radio">
                    2 colours<br>&pound;0.10 m<sup>2</sup>
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="print-quality" value="black-only" ng-model="productCtrl.order.printQuality" />
                  <span class="btn btn-radio">
                    Black only<br>&pound;0.05 m<sup>2</sup>
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="print-quality" value="no-printing" ng-model="productCtrl.order.printQuality" />
                  <span class="btn btn-radio">
                    No printing<br>&pound;0.00
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="print-quality" value="FantasticBoxCo-branding" ng-model="productCtrl.order.printQuality" />
                  <span class="btn btn-radio">
                    <strong>FantasticBoxCo</strong> branding<br>5% discount on total price
                  </span>
                </label>
              </li>
            </ol>

            <div class="form-actions">
              <button type="button" class="btn btn-back" ng-click="productCtrl.tab=2">
                back
              </button>
              <button type="button" class="btn btn-primary btn-next" ng-disabled="step3Form.$pristine" ng-click="productCtrl.tab=4 ; productCtrl.order.validateNewCardboardGrade()">
                Next
              </button>
            </div>
          </div>
        </form>


        <div id="step-4" class="content-step" ng-hide="productCtrl.tab!=4">
          <h2>Step 4 - Optional Extras</h2>

          <form name="step4Form">
            <ol class="btn-radios-list">
              <li>
                <label>
                  <input type="checkbox" name="handles" value="handles" ng-click="productCtrl.order.toggleHandles()">
                  <span class="btn btn-radio">
                    Handles<br>&pound;0.10 per box
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="reinforcedBottom" value="reinforced-bottom" ng-click="productCtrl.order.validateReinforcedBottom()" />
                  <span class="btn btn-radio">
                    Reinforced bottom<br>&pound;0.05 per box<br>
                    <small>(only available with grade A cardboard)</small>
                  </span>
                </label>
              </li>
            </ol>

            <div class="form-actions">
              <button type="button" class="btn btn-back" ng-click="productCtrl.tab=3">
                back
              </button>
              <button type="button" class="btn btn-primary btn-next" ng-click="productCtrl.tab=5">
                Finish
              </button>
              <flash-message show-close="true"></flash-message>
            </div>

          </div>
      </form>


        <div id="total-cost" class="content-step"  ng-hide="productCtrl.tab!=5">
          <h2>Total Cost</h2>

          <dl class="breakdown">
            <dt>Dimensions &amp; Quantity:</dt>
            <dd>{{productCtrl.order.quantity}} &times; {{productCtrl.order.width}}(W)&times;{{productCtrl.order.height}}(H)&times;{{productCtrl.order.length}}(L)</dd>

            <dt>Cardboard Grade:</dt>
            <dd>{{productCtrl.order.cardboardGrade}} grade</dd>

            <dt>Print Quality:</dt>
            <dd>{{productCtrl.order.printQuality}}</dd>

            <dt>Optional Extras:</dt>
            <dd>
              <ol ng-repeat="item in productCtrl.order.extras">
                {{$index + 1}}. {{item}}
              </ol>
            </dd>

            <dt>Total Cost:</dt>
            <dd>{{productCtrl.order.calculateTotal() | currency:"£":2}}</dd>
          </dl>
        </div>
      </section>
    </div>
  </main>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/fantasticBoxCoProductController.js"></script>
  <script type="text/javascript" src="/js/fantasticBoxCoOrderService.js"></script>
</body>
</html>